
  <ul class="nav"> <!-- nav -->
    <li>
      <%= link_to image_tag("/assets/Green-Option.png", :alt => "Mapas do Observatório LGBT"), home_index_path, :id => 'popover-sobre', 'data-content' => 'Mapas do Observatório LGBT', 'data-placement' => 'bottom'  %>
    </li>

    <li class="dropdown">
      <a id="entidade-drop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" data-content="Entidades e Equipamentos Culturais" data-placement="right">
        <%= image_tag("/assets/Yellow-Option.png", :alt => "Entidades e Equipamentos") %>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="entidade-drop">
        <li>
          <a tabindex="-1" href="<%= entidade_equipamentos_path %>">Listar</a>
        </li>
        <li>
          <a tabindex="-1" href="<%= new_entidade_equipamento_path %>">Cadastrar</a>
        </li>
      </ul>
    </li>

    <% if user_signed_in? %>
      <li>
        <li class="dropdown">
          <a id="configurar-drop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag("/assets/Purple-Option.png", :alt => "Configurar") %>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="configurar-drop">
              <li>
                <a tabindex="-1" href="<%= edit_user_registration_path %>">Alterar Senha</a>
              </li>
              <% if current_user.admin? %>
              <li>
                <a tabindex="-1" href="<%= tipo_equipamentos_path %>">Tipos Equipamento</a>
              </li>
              <li>
                <a tabindex="-1" href="<%= tipo_naturezas_path %>">Tipos de Naturezas</a>
              </li>
              <li>
                <a tabindex="-1" href="<%= atividades_path %>">Atividades</a>
              </li>
              <li>
                <a tabindex="-1" href="<%= users_path %>">Usuários</a>
              </li>
              <% end %>
          </ul>
        </li>
      </li>

    <li class="login" id="logout">
      <%= link_to image_tag("/assets/Red-Option.png", :alt => "Deslogar", :title => "Deslogar") + " (" + current_user.firstname + ")", destroy_user_session_path, :method => :delete %>
    </li>

    <% else %>
      <li class="login" id="login">
        <%= link_to image_tag("/assets/Red-Option.png", :alt => "Logar"), new_user_session_path, :id => 'popover-login', 'data-content' => 'Logar no Mapa da Cultura', 'data-placement' => 'bottom' %>
      </li>
    <% end %>
  </ul> <!-- nav -->
